body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(20, 40, 80), rgb(60, 100, 190));
    background-repeat: no-repeat;
}

#page-title {
    font-family: 'Audiowide';
    font-size: 88px;
    margin-left: 30px;
}

#move-history {
    /*height: 350px;*/
    min-height: 470px;
    max-height: 470px;
    width: 100%;
    overflow-y: scroll;
    margin: 0;
}

.table-responsive {
    max-height: 470px;
}

.vertical-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.vertical-space-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.vertical-space-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#board {
    max-height: 400px;
    margin: 0px 50px 0px 50px;
}


#post-game {
  display: none;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, 0.85);
  font-family: 'Aclonica';
}

#postGameGraphCarousel {
  height: 40%;
  width: 80%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

#postGameGraph {
  max-height: 400px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*

.info {
    width: 400px;
    margin: auto;
}
*/